<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

__Akshay Kokane__

Current Occupation: KYC Operations TL
Desired Occupation: Data Scientist job at a FinTech

_I am interested in data science because it has no limitations, there are so many possibilities and predictions that can be made using the right tools_

### My code in Cell 5 does a simple multiplication

In [34]:
((2+2)*3)/3

4.0

***
> Programming languages:
***
* Python
* Java
* C++
* PHP

***

> Tools for Data Science
***
1. SAS
2. Apache Spark
3. BigML
4. D3
5. MATLAB
6. Excel
7. ggplot2
8. Tableau
***
***


| Name | Position | Office | Age | Start date | Salary |
| --- | --- | --- | --- | --- | --- |
| Airi Satou | Accountant | Tokyo | 33 | 2008/11/28 | USD 162700 |
| Angelica Ramos | Chief Executive Officer (CEO) | London | 47 | 2009/10/09 | USD 1200000 |
| Ashton Cox| Junior Technical Author | San Francisco | 66 | 2009/01/12 | USD 86000 |
| Bradley Greer | Software Engineer | London | 41 | 2012/10/13 | USD 132000 |